*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(194, 201, 240, 0.973);
    overflow-x: hidden;
}

/* .header{
    background-color: black;
    padding: 10px;
} */

/* .header ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}

.header ul li a{
    color: white;
    text-decoration: none;
    padding: 10px;
} */

.footer{
    width: 100%;
    background-color: darkslateblue;
    padding: 20px;
    text-align: center;
    color: white;
}

.main{
    padding: 20px 0;
    /*width: 900px;*/
    margin: 0 auto;
    
}


.main form p input[type=submit], [type=button]{
    background-color: black;
    color: white;
    padding: 8px;
    border: none;
    width: 200px;
}
.href, button{
    background-color: black;
    color:white;
    padding: 2px;
    width: 40px;
    text-decoration: none;
    
    
}
a.href{
    text-align: center;
}
.main .table {
    background-color: rgba(99, 100, 212, 0.966);
    text-align: center;
    /*border-collapse: collapse;   */
    width: 100%;
    padding: 1em 2em;
}
.main .table th, td{
    padding: 10px;
}
.main .table thead{
    background-color: darkslateblue;
    border-bottom: solid 5px rgb(38, 31, 83);
    color: white;
}
.main .table tr:nth-child(even){
    background-color: rgba(143, 144, 226, 0.966);
}

div.center{
    background-color: rgba(99, 100, 212, 0.966);
}
.bEliminar{
    background-color: black;
    color: white;
    border:none;
    width: 80px;
    padding: 3px;
}
.center{
    text-align: center;
}

.center input{
    text-align: center;
}

.error{
    color: rgba(99, 100, 212, 0.966);
}


@media (max-width:1024px){
    table{
        width: 100%;
        font-size: .9em;
    }
    table tr{
        display:flex;
        flex-direction: column;
        border: 5px outset rgb(26, 167, 132);
        padding: 1em;
        margin-bottom: 1em; 
        text-align: left;
    }
    table td[data-titulo]{
        display: flex;
        
    }
    table td[data-titulo]::before{
        content: attr( data-titulo );
        width: 100px;
        color: white;
    }
    table td[data-link]{
        display: none;
    }
    table thead{
        display: none;
    }
}